[submodule "seclists"]
	path = seclists
	url = https://github.com/danielmiessler/SecLists
	branch = master
[submodule "statistically-likely-usernames"]
	path = statistically-likely-usernames
	url = https://github.com/insidetrust/statistically-likely-usernames
	branch = master
[submodule "security-wordlist"]
	path = security-wordlist
	url = https://github.com/DragonJAR/Security-Wordlist.git
